/*About Section*/
#about {
    text-align: center;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

body.dark-mode #about {
    background-color: #2c2c2c;
}

.about-intro {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
}

body.dark-mode .about-intro {
    color: #ffffff;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.about-profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-text {
    max-width: 500px;
    text-align: left;
}

.about-text p {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

body.dark-mode .about-text p {
    color: #dcdcdc;
}

.connect-button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.connect-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .about-profile-image {
        width: 150px;
        height: 150px;
    }

    .about-intro {
        font-size: 1.2em;
    }

    .about-text p {
        font-size: 1em;
    }

    .connect-button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}