footer {
    background-color: #1a1a1a;
    text-align: center;
    color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    footer {
        padding: 20px 10px;
    }

    footer a {
        margin: 0 10px;
    }
}