/* Hero Section */
header {
    font-family: 'Lato', sans-serif;
    position: relative;
    height: 50vh;
    background-image: url('../images/hero_section/hero_bg.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.hero-content {
    max-width: 550px;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: 600;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.hero-button:hover {
    background-color: #003975;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body.dark-mode header {
    color: #ffffff;
}

body.dark-mode .hero {
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .hero-button {
        font-size: 1em;
    }
}